packages/vehicle-lifecycle/composer-data-latest/flows.json
[{"id":"8d45087e.ee5558","type":"tab","label":"Main Flow"},{"id":"e3b13ef0.3798d","type":"tab","label":"Query Flow"},{"id":"2fc29e6d.ebbea2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"9694475c.ed1588","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"a5b5c2ca.76bf2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"47184e15.1506b","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"315a8de2.000f32","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"975edba4.935e3","type":"websocket-listener","z":"","path":"/ws/requestpolicy","wholemsg":"false"},{"id":"98b47fb6.466a28","type":"websocket-listener","z":"","path":"/ws/createpolicy","wholemsg":"false"},{"id":"746955c2.0e0dac","type":"hyperledger-composer-config","z":"","connectionProfile":"hlfv1","businessNetworkIdentifier":"vehicle-lifecycle-network","userID":"admin","userSecret":"adminpw"},{"id":"8857d2df.5068a8","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"a19c941d.0e6808","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"a3db58c4.ad391","type":"websocket in","z":"8d45087e.ee5558","name":"","server":"2fc29e6d.ebbea2","client":"","x":146,"y":69,"wires":[["5d3bb2bc.d4e6ec","ca2c652f.40ee98"]]},{"id":"8f174b67.bdca1","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"2fc29e6d.ebbea2","client":"","x":890,"y":280,"wires":[]},{"id":"d2ac4319.80b3f","type":"websocket in","z":"8d45087e.ee5558","name":"","server":"9694475c.ed1588","client":"","x":210,"y":860,"wires":[["7608a15a.e1815","baca35a4.e78de"]]},{"id":"f23fe178.81d318","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"9694475c.ed1588","client":"","x":922.5,"y":324,"wires":[]},{"id":"7608a15a.e1815","type":"debug","z":"8d45087e.ee5558","name":"received UpdateOrderStatus socket msg","active":false,"console":"false","complete":"true","x":534.5,"y":916,"wires":[]},{"id":"c27b6220.9cd638","type":"function","z":"8d45087e.ee5558","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;\n","outputs":1,"noerr":0,"x":689,"y":99,"wires":[["934e6b01.9e7b28","9843471a.6732a8"]]},{"id":"9f3f3248.7d807","type":"inject","z":"8d45087e.ee5558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":189.5,"y":981,"wires":[["44bda445.040bb4"]]},{"id":"cca12c8d.db59c8","type":"function","z":"8d45087e.ee5558","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.$class = 'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus';\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":867,"wires":[["912716c9.3dcef8","c5474104.41d08"]]},{"id":"ca2c652f.40ee98","type":"change","z":"8d45087e.ee5558","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":372,"y":69,"wires":[["e75559f0.9abc5"]]},{"id":"c4d94909.5c64f8","type":"inject","z":"8d45087e.ee5558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199.5,"y":1023,"wires":[["e157053.9cf3678"]]},{"id":"5f763d6f.721f7c","type":"http request","z":"8d45087e.ee5558","name":"setup demo","method":"POST","ret":"obj","url":"","tls":"","x":507.5,"y":1023,"wires":[["14d5e5a8.f45b22"]]},{"id":"14d5e5a8.f45b22","type":"debug","z":"8d45087e.ee5558","name":"","active":true,"console":"false","complete":"false","x":691.5,"y":1023,"wires":[]},{"id":"e157053.9cf3678","type":"function","z":"8d45087e.ee5558","name":"set msg.url","func":"msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;","outputs":1,"noerr":0,"x":346.5,"y":1023,"wires":[["5f763d6f.721f7c"]]},{"id":"28aaa1a.5e6885e","type":"inject","z":"8d45087e.ee5558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199,"y":1062,"wires":[["7dd65d3c.e839e4"]]},{"id":"baa8b525.4cf2d","type":"http request","z":"8d45087e.ee5558","name":"get orders","method":"GET","ret":"obj","url":"","tls":"","x":507,"y":1062,"wires":[["a559bbd7.2f0188"]]},{"id":"a559bbd7.2f0188","type":"debug","z":"8d45087e.ee5558","name":"","active":true,"console":"false","complete":"false","x":691,"y":1062,"wires":[]},{"id":"7dd65d3c.e839e4","type":"function","z":"8d45087e.ee5558","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Order';\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":1062,"wires":[["baa8b525.4cf2d"]]},{"id":"e4e40f28.6c8ac8","type":"inject","z":"8d45087e.ee5558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199,"y":1102,"wires":[["4ca9cab4.214f2c"]]},{"id":"874b76f.97fe388","type":"http request","z":"8d45087e.ee5558","name":"get vehicles","method":"GET","ret":"obj","url":"","tls":"","x":507,"y":1102,"wires":[["9b5e0256.c59828"]]},{"id":"9b5e0256.c59828","type":"debug","z":"8d45087e.ee5558","name":"","active":true,"console":"false","complete":"false","x":691,"y":1102,"wires":[]},{"id":"4ca9cab4.214f2c","type":"function","z":"8d45087e.ee5558","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":1102,"wires":[["874b76f.97fe388"]]},{"id":"9ab5346d.996bc","type":"inject","z":"8d45087e.ee5558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198,"y":1143,"wires":[["490590ac.d5b62"]]},{"id":"e76697d3.8e5698","type":"http request","z":"8d45087e.ee5558","name":"get transactions","method":"GET","ret":"obj","url":"","tls":"","x":516,"y":1143,"wires":[["23f9797a.d281be"]]},{"id":"23f9797a.d281be","type":"debug","z":"8d45087e.ee5558","name":"","active":true,"console":"false","complete":"false","x":690,"y":1143,"wires":[]},{"id":"490590ac.d5b62","type":"function","z":"8d45087e.ee5558","name":"set msg.url","func":"msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":1143,"wires":[["e76697d3.8e5698"]]},{"id":"e75559f0.9abc5","type":"switch","z":"8d45087e.ee5558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":557,"y":69,"wires":[["f4090309.b9dea"],["c27b6220.9cd638"]]},{"id":"f65a9996.b6e688","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"2fc29e6d.ebbea2","client":"","x":862.5,"y":51,"wires":[]},{"id":"f4090309.b9dea","type":"function","z":"8d45087e.ee5558","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":51,"wires":[["f65a9996.b6e688"]]},{"id":"baca35a4.e78de","type":"switch","z":"8d45087e.ee5558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":429,"y":860,"wires":[["c0478015.1b7f68"],["cca12c8d.db59c8"]]},{"id":"4cededab.987e8c","type":"change","z":"8d45087e.ee5558","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":820,"wires":[["e0033971.a1eea8"]]},{"id":"e0033971.a1eea8","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"9694475c.ed1588","client":"","x":1085,"y":820,"wires":[]},{"id":"c0478015.1b7f68","type":"function","z":"8d45087e.ee5558","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":819,"wires":[["4cededab.987e8c"]]},{"id":"293e73b7.a3f7a4","type":"hyperledger-composer-in","z":"8d45087e.ee5558","name":"receive event","composerProfile":"746955c2.0e0dac","actionType":"create","x":123,"y":280,"wires":[["6d2a5714.031548","51dbd312.74e3b4"]]},{"id":"6d2a5714.031548","type":"debug","z":"8d45087e.ee5558","name":"event received","active":true,"console":"false","complete":"true","x":352,"y":235,"wires":[]},{"id":"51dbd312.74e3b4","type":"switch","z":"8d45087e.ee5558","name":"","property":"$class","propertyType":"msg","rules":[{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.PlaceOrderEvent","vt":"str"},{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatusEvent","vt":"str"},{"t":"eq","v":"org.vda.AddUsageEventEvent","vt":"str"}],"checkall":"true","outputs":3,"x":324,"y":281.75,"wires":[["d1fb199e.46e3d","a61eeabf.fad8d8"],["3a323b4f.ab9d64"],["1053b3ab.1beddc"]]},{"id":"5d3bb2bc.d4e6ec","type":"debug","z":"8d45087e.ee5558","name":"received PlaceOrder socket msg","active":false,"console":"false","complete":"true","x":411,"y":130,"wires":[]},{"id":"934e6b01.9e7b28","type":"hyperledger-composer-out","z":"8d45087e.ee5558","name":"submit placeorder tx","composerProfile":"746955c2.0e0dac","actionType":"create","x":874,"y":102,"wires":[]},{"id":"d7e6427a.a4376","type":"hyperledger-composer-out","z":"8d45087e.ee5558","name":"submit update status tx","composerProfile":"746955c2.0e0dac","actionType":"create","x":906,"y":238,"wires":[]},{"id":"d1fb199e.46e3d","type":"function","z":"8d45087e.ee5558","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.orderId = msg.orderId;\neventMsg.payload.vehicleDetails = msg.vehicleDetails;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\nreturn eventMsg;","outputs":1,"noerr":0,"x":562,"y":280,"wires":[["8f174b67.bdca1"]]},{"id":"3a323b4f.ab9d64","type":"function","z":"8d45087e.ee5558","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.order = msg.order;\neventMsg.payload.orderStatus = msg.orderStatus;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":565,"y":323,"wires":[["f23fe178.81d318"]]},{"id":"9843471a.6732a8","type":"debug","z":"8d45087e.ee5558","name":"transaction payload","active":false,"console":"false","complete":"payload","x":864.5,"y":147,"wires":[]},{"id":"a61eeabf.fad8d8","type":"function","z":"8d45087e.ee5558","name":"create new payload","func":"var order = msg;\nconsole.log('What is the event payload?',order)\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"$class\":'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus',\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\"\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":602.5,"y":238,"wires":[["d7e6427a.a4376"]]},{"id":"912716c9.3dcef8","type":"debug","z":"8d45087e.ee5558","name":"transaction payload","active":false,"console":"false","complete":"payload","x":818,"y":913,"wires":[]},{"id":"c5474104.41d08","type":"hyperledger-composer-out","z":"8d45087e.ee5558","name":"submit update status tx","composerProfile":"746955c2.0e0dac","actionType":"create","x":834,"y":867,"wires":[]},{"id":"8da9c53a.32321","type":"function","z":"8d45087e.ee5558","name":"REST API URL Configuration","func":"let something;\nif(msg.payload.trim()){\n    context.global.endpoint = msg.payload.trim();\n}\nelse{\n    context.global.endpoint = \"http://localhost:4000/api\";\n}\nconsole.log('What is context.global.endpoint?',context.global.endpoint);","outputs":1,"noerr":0,"x":756,"y":977,"wires":[[]]},{"id":"44bda445.040bb4","type":"exec","z":"8d45087e.ee5558","command":"echo $COMPOSER_BASE_URL","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get REST API Environment Variable","x":423,"y":979.5,"wires":[["8da9c53a.32321"],[],[]]},{"id":"92ecb5c4.3562a8","type":"inject","z":"e3b13ef0.3798d","name":"","topic":"","payload":"{\"$class\": \"org.vda.ScrapAllVehiclesByColour\", \"colour\":\"grey\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":183,"y":71,"wires":[["7c95bc9e.fb065c"]]},{"id":"7c95bc9e.fb065c","type":"hyperledger-composer-out","z":"e3b13ef0.3798d","name":"ScrapAllVehiclesByColour","composerProfile":"746955c2.0e0dac","actionType":"create","x":479,"y":70.75,"wires":[]},{"id":"45abdabb.b99f7c","type":"websocket in","z":"8d45087e.ee5558","name":"","server":"975edba4.935e3","client":"","x":160,"y":620,"wires":[["ef089fbb.c50b48"]]},{"id":"ef089fbb.c50b48","type":"change","z":"8d45087e.ee5558","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["89374d0e.a8e27"]]},{"id":"89374d0e.a8e27","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"975edba4.935e3","client":"","x":780,"y":620,"wires":[]},{"id":"bb20f137.8bf078","type":"websocket in","z":"8d45087e.ee5558","name":"","server":"98b47fb6.466a28","client":"","x":160,"y":700,"wires":[["9a4b476a.81ebe8"]]},{"id":"9a4b476a.81ebe8","type":"change","z":"8d45087e.ee5558","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[["828ed2a8.b5853"]]},{"id":"828ed2a8.b5853","type":"function","z":"8d45087e.ee5558","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/CreatePolicy'\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["35e3010f.17b626","f7899265.f264c8"]]},{"id":"35e3010f.17b626","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"98b47fb6.466a28","client":"","x":880,"y":700,"wires":[]},{"id":"f7899265.f264c8","type":"hyperledger-composer-out","z":"8d45087e.ee5558","name":"submit createpolicy tx","composerProfile":"746955c2.0e0dac","actionType":"create","x":880,"y":760,"wires":[]},{"id":"1053b3ab.1beddc","type":"function","z":"8d45087e.ee5558","name":"parse","func":"eventMsg = {};\neventMsg.payload = msg;\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["9c56b8ca.b6656"]]},{"id":"9c56b8ca.b6656","type":"websocket out","z":"8d45087e.ee5558","name":"","server":"315a8de2.000f32","client":"","x":900,"y":454,"wires":[]}]