packages/vehicle-lifecycle/composer-data-latest/flows.json
[{"id":"fbfcd57b.b91b98","type":"tab","label":"Main Flow"},{"id":"6296d5e4.559eac","type":"tab","label":"Query Flow"},{"id":"2fc29e6d.ebbea2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"9694475c.ed1588","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"a5b5c2ca.76bf2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"47184e15.1506b","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"a0ad1f41.f612b8","type":"websocket-listener","z":"","path":"/ws/requestpolicy","wholemsg":"false"},{"id":"72306d58.81ae4c","type":"websocket-listener","z":"","path":"/ws/createpolicy","wholemsg":"false"},{"id":"72bedf33.76a3e8","type":"hyperledger-composer-config","z":"","connectionProfile":"hlfv1","businessNetworkIdentifier":"vehicle-lifecycle-network","userID":"admin","userSecret":"adminpw"},{"id":"b4d44064.333bf","type":"websocket in","z":"fbfcd57b.b91b98","name":"","server":"2fc29e6d.ebbea2","client":"","x":146,"y":69,"wires":[["ae56060b.db37b8","739b6f44.fd2b08"]]},{"id":"dbd05bec.83d71","type":"websocket out","z":"fbfcd57b.b91b98","name":"","server":"2fc29e6d.ebbea2","client":"","x":890,"y":280,"wires":[]},{"id":"7a4d6fc2.14904","type":"websocket in","z":"fbfcd57b.b91b98","name":"","server":"9694475c.ed1588","client":"","x":230,"y":640,"wires":[["dd729ea.f816fe","1413787.0790508"]]},{"id":"a94b176b.7139e","type":"websocket out","z":"fbfcd57b.b91b98","name":"","server":"9694475c.ed1588","client":"","x":922.5,"y":324,"wires":[]},{"id":"dd729ea.f816fe","type":"debug","z":"fbfcd57b.b91b98","name":"received UpdateOrderStatus socket msg","active":false,"console":"false","complete":"true","x":554.5,"y":696,"wires":[]},{"id":"d2ea5148.fa85","type":"function","z":"fbfcd57b.b91b98","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;\n","outputs":1,"noerr":0,"x":689,"y":99,"wires":[["b96476f5.f42b2","c9bfd107.87d0a"]]},{"id":"69538dc7.6c613c","type":"inject","z":"fbfcd57b.b91b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":209.5,"y":761,"wires":[["21d53a97.46390e"]]},{"id":"4234effd.055ba","type":"function","z":"fbfcd57b.b91b98","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.$class = 'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus';\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":647,"wires":[["36cf3985.e0e526","37047ad4.5a69ee"]]},{"id":"739b6f44.fd2b08","type":"change","z":"fbfcd57b.b91b98","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":372,"y":69,"wires":[["c531693.8350b98"]]},{"id":"32af2212.9f354e","type":"inject","z":"fbfcd57b.b91b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":219.5,"y":803,"wires":[["f7abf6d1.fbd89"]]},{"id":"a6229860.acbc68","type":"http request","z":"fbfcd57b.b91b98","name":"setup demo","method":"POST","ret":"obj","url":"","tls":"","x":527.5,"y":803,"wires":[["6b945ab5.c5ab64"]]},{"id":"6b945ab5.c5ab64","type":"debug","z":"fbfcd57b.b91b98","name":"","active":true,"console":"false","complete":"false","x":711.5,"y":803,"wires":[]},{"id":"f7abf6d1.fbd89","type":"function","z":"fbfcd57b.b91b98","name":"set msg.url","func":"msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;","outputs":1,"noerr":0,"x":366.5,"y":803,"wires":[["a6229860.acbc68"]]},{"id":"2738697d.75b5ce","type":"inject","z":"fbfcd57b.b91b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":219,"y":842,"wires":[["a014cb90.1ac91"]]},{"id":"d553ca37.79dd5","type":"http request","z":"fbfcd57b.b91b98","name":"get orders","method":"GET","ret":"obj","url":"","tls":"","x":527,"y":842,"wires":[["6fe3363d.d52158"]]},{"id":"6fe3363d.d52158","type":"debug","z":"fbfcd57b.b91b98","name":"","active":true,"console":"false","complete":"false","x":711,"y":842,"wires":[]},{"id":"a014cb90.1ac91","type":"function","z":"fbfcd57b.b91b98","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Order';\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":842,"wires":[["d553ca37.79dd5"]]},{"id":"55c15fc6.0c89a","type":"inject","z":"fbfcd57b.b91b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":219,"y":882,"wires":[["19f2f0cb.04efff"]]},{"id":"7e358854.8c4e6","type":"http request","z":"fbfcd57b.b91b98","name":"get vehicles","method":"GET","ret":"obj","url":"","tls":"","x":527,"y":882,"wires":[["3dc77dc7.34b40a"]]},{"id":"3dc77dc7.34b40a","type":"debug","z":"fbfcd57b.b91b98","name":"","active":true,"console":"false","complete":"false","x":711,"y":882,"wires":[]},{"id":"19f2f0cb.04efff","type":"function","z":"fbfcd57b.b91b98","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":882,"wires":[["7e358854.8c4e6"]]},{"id":"be6233fa.10c718","type":"inject","z":"fbfcd57b.b91b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218,"y":923,"wires":[["9ac9dcbe.b30a88"]]},{"id":"2adfb399.112b14","type":"http request","z":"fbfcd57b.b91b98","name":"get transactions","method":"GET","ret":"obj","url":"","tls":"","x":536,"y":923,"wires":[["717a463e.57cea8"]]},{"id":"717a463e.57cea8","type":"debug","z":"fbfcd57b.b91b98","name":"","active":true,"console":"false","complete":"false","x":710,"y":923,"wires":[]},{"id":"9ac9dcbe.b30a88","type":"function","z":"fbfcd57b.b91b98","name":"set msg.url","func":"msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":923,"wires":[["2adfb399.112b14"]]},{"id":"c531693.8350b98","type":"switch","z":"fbfcd57b.b91b98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":557,"y":69,"wires":[["59694f98.b461f8"],["d2ea5148.fa85"]]},{"id":"12fbdeac.75db69","type":"websocket out","z":"fbfcd57b.b91b98","name":"","server":"2fc29e6d.ebbea2","client":"","x":862.5,"y":51,"wires":[]},{"id":"59694f98.b461f8","type":"function","z":"fbfcd57b.b91b98","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":51,"wires":[["12fbdeac.75db69"]]},{"id":"1413787.0790508","type":"switch","z":"fbfcd57b.b91b98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":449,"y":640,"wires":[["1b506ccf.905d83"],["4234effd.055ba"]]},{"id":"dd5341cc.a9d7c8","type":"change","z":"fbfcd57b.b91b98","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":839,"y":600,"wires":[["9fed38ab.fbb988"]]},{"id":"9fed38ab.fbb988","type":"websocket out","z":"fbfcd57b.b91b98","name":"","server":"9694475c.ed1588","client":"","x":1105,"y":600,"wires":[]},{"id":"1b506ccf.905d83","type":"function","z":"fbfcd57b.b91b98","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":599,"wires":[["dd5341cc.a9d7c8"]]},{"id":"54a617ae.9eb41","type":"hyperledger-composer-in","z":"fbfcd57b.b91b98","name":"receive event","composerProfile":"72bedf33.76a3e8","actionType":"create","x":123,"y":280,"wires":[["b1637c5d.34c7f","891bca66.f61d"]]},{"id":"b1637c5d.34c7f","type":"debug","z":"fbfcd57b.b91b98","name":"event received","active":true,"console":"false","complete":"true","x":352,"y":235,"wires":[]},{"id":"891bca66.f61d","type":"switch","z":"fbfcd57b.b91b98","name":"","property":"$class","propertyType":"msg","rules":[{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.PlaceOrderEvent","vt":"str"},{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatusEvent","vt":"str"}],"checkall":"true","outputs":2,"x":324,"y":281.75,"wires":[["da1e08f8.e8665","7b9c8f07.492a88"],["25671235.3354fe"]]},{"id":"ae56060b.db37b8","type":"debug","z":"fbfcd57b.b91b98","name":"received PlaceOrder socket msg","active":true,"console":"false","complete":"true","x":411,"y":130,"wires":[]},{"id":"b96476f5.f42b2","type":"hyperledger-composer-out","z":"fbfcd57b.b91b98","name":"submit placeorder tx","composerProfile":"72bedf33.76a3e8","actionType":"create","x":874,"y":102,"wires":[]},{"id":"14a03ec0.086d39","type":"hyperledger-composer-out","z":"fbfcd57b.b91b98","name":"submit update status tx","composerProfile":"72bedf33.76a3e8","actionType":"create","x":906,"y":238,"wires":[]},{"id":"da1e08f8.e8665","type":"function","z":"fbfcd57b.b91b98","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.orderId = msg.orderId;\neventMsg.payload.vehicleDetails = msg.vehicleDetails;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\nreturn eventMsg;","outputs":1,"noerr":0,"x":562,"y":280,"wires":[["dbd05bec.83d71"]]},{"id":"25671235.3354fe","type":"function","z":"fbfcd57b.b91b98","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.order = msg.order;\neventMsg.payload.orderStatus = msg.orderStatus;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":565,"y":323,"wires":[["a94b176b.7139e"]]},{"id":"c9bfd107.87d0a","type":"debug","z":"fbfcd57b.b91b98","name":"transaction payload","active":true,"console":"false","complete":"payload","x":864.5,"y":147,"wires":[]},{"id":"7b9c8f07.492a88","type":"function","z":"fbfcd57b.b91b98","name":"create new payload","func":"var order = msg;\nconsole.log('What is the event payload?',order)\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"$class\":'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus',\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\"\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":602.5,"y":238,"wires":[["14a03ec0.086d39"]]},{"id":"36cf3985.e0e526","type":"debug","z":"fbfcd57b.b91b98","name":"transaction payload","active":true,"console":"false","complete":"payload","x":838,"y":693,"wires":[]},{"id":"37047ad4.5a69ee","type":"hyperledger-composer-out","z":"fbfcd57b.b91b98","name":"submit update status tx","composerProfile":"72bedf33.76a3e8","actionType":"create","x":854,"y":647,"wires":[]},{"id":"be92e17f.0367c8","type":"function","z":"fbfcd57b.b91b98","name":"REST API URL Configuration","func":"let something;\nif(msg.payload.trim()){\n    context.global.endpoint = msg.payload.trim();\n}\nelse{\n    context.global.endpoint = \"http://localhost:4000/api\";\n}\nconsole.log('What is context.global.endpoint?',context.global.endpoint);","outputs":1,"noerr":0,"x":776,"y":757,"wires":[[]]},{"id":"21d53a97.46390e","type":"exec","z":"fbfcd57b.b91b98","command":"echo $COMPOSER_BASE_URL","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get REST API Environment Variable","x":443,"y":759.5,"wires":[["be92e17f.0367c8"],[],[]]},{"id":"a1263ffd.69ca78","type":"inject","z":"6296d5e4.559eac","name":"","topic":"","payload":"{\"$class\": \"org.vda.ScrapAllVehiclesByColour\", \"colour\":\"grey\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":183,"y":71,"wires":[["d5810c86.333568"]]},{"id":"75424c98.d2efa4","type":"debug","z":"6296d5e4.559eac","name":"","active":true,"console":"false","complete":"true","x":380,"y":150.25,"wires":[]},{"id":"d5810c86.333568","type":"hyperledger-composer-out","z":"6296d5e4.559eac","name":"ScrapAllVehiclesByColour","composerProfile":"72bedf33.76a3e8","actionType":"create","x":479,"y":70.75,"wires":[]},{"id":"9c6db198.1a1da8","type":"hyperledger-composer-in","z":"6296d5e4.559eac","name":"EventReceived","composerProfile":"72bedf33.76a3e8","actionType":"create","x":190,"y":149.75,"wires":[["75424c98.d2efa4"]]},{"id":"16ec466f.868bea","type":"change","z":"fbfcd57b.b91b98","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["55375d54.19a64c"]]},{"id":"55375d54.19a64c","type":"websocket out","z":"fbfcd57b.b91b98","name":"","server":"a0ad1f41.f612b8","client":"","x":800,"y":400,"wires":[]},{"id":"74bf7487.0d83d4","type":"websocket in","z":"fbfcd57b.b91b98","name":"","server":"72306d58.81ae4c","client":"","x":180,"y":480,"wires":[["88d7059c.a2eaf"]]},{"id":"88d7059c.a2eaf","type":"change","z":"fbfcd57b.b91b98","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["d0d64489.98d62"]]},{"id":"d0d64489.98d62","type":"function","z":"fbfcd57b.b91b98","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/CreatePolicy'\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["d81fb8fe.ce0d2","d2fecf66.c5e7e8"]]},{"id":"d81fb8fe.ce0d2","type":"websocket out","z":"fbfcd57b.b91b98","name":"","server":"72306d58.81ae4c","client":"","x":900,"y":480,"wires":[]},{"id":"d2fecf66.c5e7e8","type":"hyperledger-composer-out","z":"fbfcd57b.b91b98","name":"submit createpolicy tx","composerProfile":"72bedf33.76a3e8","actionType":"create","x":900,"y":540,"wires":[]},{"id":"77391f81.2c8218","type":"websocket in","z":"fbfcd57b.b91b98","name":"","server":"a0ad1f41.f612b8","client":"","x":180,"y":400,"wires":[["16ec466f.868bea","a5e47426.8bac9"]]},{"id":"a5e47426.8bac9","type":"debug","z":"fbfcd57b.b91b98","name":"","active":true,"console":"false","complete":"false","x":622,"y":440,"wires":[]}]