packages/vehicle-lifecycle/composer-data-latest/flows.json
[{"id":"c1b36c1d.9f6be8","type":"tab","label":"Main Flow"},{"id":"428e6976.a2dad8","type":"tab","label":"Query Flow"},{"id":"2fc29e6d.ebbea2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"9694475c.ed1588","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"a5b5c2ca.76bf2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"47184e15.1506b","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"8192d21.c7d83b","type":"websocket-listener","z":"","path":"ws://iot-insurance.eu-gb.mybluemix.net/ws/iot/event","wholemsg":"false"},{"id":"87cbc5be.a65b2","type":"websocket-listener","z":"","path":"/ws/requestpolicy","wholemsg":"false"},{"id":"1135db6b.ad1c1d","type":"websocket-listener","z":"","path":"/ws/createpolicy","wholemsg":"false"},{"id":"aa41a6ae.e3962","type":"hyperledger-composer-config","z":"","connectionProfile":"hlfv1","businessNetworkIdentifier":"vehicle-lifecycle-network","userID":"admin","userSecret":"adminpw"},{"id":"d1b1c767.6c82a8","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"918c5fa3.e5b158","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"eaf2213e.d3ea2","type":"websocket-listener","z":"","path":"/ws/createusagerecord","wholemsg":"false"},{"id":"6f409a7a.db1754","type":"websocket in","z":"c1b36c1d.9f6be8","name":"","server":"2fc29e6d.ebbea2","client":"","x":146,"y":69,"wires":[["b3b6408a.51c43","d7a8225.080166"]]},{"id":"e588c8b0.dd8d68","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"2fc29e6d.ebbea2","client":"","x":890,"y":280,"wires":[]},{"id":"b22a79d0.7bc6b","type":"websocket in","z":"c1b36c1d.9f6be8","name":"","server":"9694475c.ed1588","client":"","x":210,"y":1000,"wires":[["6d5f16ae.a462e","d3582694.697028"]]},{"id":"b71ccb1e.8ea688","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"9694475c.ed1588","client":"","x":920,"y":340,"wires":[]},{"id":"6d5f16ae.a462e","type":"debug","z":"c1b36c1d.9f6be8","name":"received UpdateOrderStatus socket msg","active":false,"console":"false","complete":"true","x":534.5,"y":1056,"wires":[]},{"id":"47bc7815.88c28","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;\n","outputs":1,"noerr":0,"x":689,"y":99,"wires":[["4008867e.ea958","e76a8b9a.c4e4d"]]},{"id":"349bd4c7.47e7f4","type":"inject","z":"c1b36c1d.9f6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":1160,"wires":[["c6b3b312.994be"]]},{"id":"e2863488.cec1d","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.$class = 'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus';\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":1007,"wires":[["3a8b1e9.8dc8a62","ccc25ec.91455a"]]},{"id":"d7a8225.080166","type":"change","z":"c1b36c1d.9f6be8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":372,"y":69,"wires":[["9308fd86.cb827"]]},{"id":"85dde237.fd25b8","type":"inject","z":"c1b36c1d.9f6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":1202,"wires":[["ed31debb.2ddcc"]]},{"id":"508f2b29.41576c","type":"http request","z":"c1b36c1d.9f6be8","name":"setup demo","method":"POST","ret":"obj","url":"","tls":"","x":488,"y":1202,"wires":[["a527512a.75b3b8"]]},{"id":"a527512a.75b3b8","type":"debug","z":"c1b36c1d.9f6be8","name":"","active":true,"console":"false","complete":"false","x":672,"y":1202,"wires":[]},{"id":"ed31debb.2ddcc","type":"function","z":"c1b36c1d.9f6be8","name":"set msg.url","func":"msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":1202,"wires":[["508f2b29.41576c"]]},{"id":"d095faf3.f51618","type":"inject","z":"c1b36c1d.9f6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.5,"y":1241,"wires":[["7791d35a.e5275c"]]},{"id":"39238b.19ca1476","type":"http request","z":"c1b36c1d.9f6be8","name":"get orders","method":"GET","ret":"obj","url":"","tls":"","x":487.5,"y":1241,"wires":[["b4eb8abe.203f1"]]},{"id":"b4eb8abe.203f1","type":"debug","z":"c1b36c1d.9f6be8","name":"","active":true,"console":"false","complete":"false","x":671.5,"y":1241,"wires":[]},{"id":"7791d35a.e5275c","type":"function","z":"c1b36c1d.9f6be8","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Order';\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":1241,"wires":[["39238b.19ca1476"]]},{"id":"63522cc7.a7b694","type":"inject","z":"c1b36c1d.9f6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.5,"y":1281,"wires":[["32c25bef.33efd4"]]},{"id":"771017f4.13ade8","type":"http request","z":"c1b36c1d.9f6be8","name":"get vehicles","method":"GET","ret":"obj","url":"","tls":"","x":487.5,"y":1281,"wires":[["b2b854fc.f8929"]]},{"id":"b2b854fc.f8929","type":"debug","z":"c1b36c1d.9f6be8","name":"","active":true,"console":"false","complete":"false","x":671.5,"y":1281,"wires":[]},{"id":"32c25bef.33efd4","type":"function","z":"c1b36c1d.9f6be8","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":1281,"wires":[["771017f4.13ade8"]]},{"id":"1407177.07c0369","type":"inject","z":"c1b36c1d.9f6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178.5,"y":1322,"wires":[["4bf30879.2696d8"]]},{"id":"d6fb6b1f.549128","type":"http request","z":"c1b36c1d.9f6be8","name":"get transactions","method":"GET","ret":"obj","url":"","tls":"","x":496.5,"y":1322,"wires":[["91169751.59cf5"]]},{"id":"91169751.59cf5","type":"debug","z":"c1b36c1d.9f6be8","name":"","active":true,"console":"false","complete":"false","x":670.5,"y":1322,"wires":[]},{"id":"4bf30879.2696d8","type":"function","z":"c1b36c1d.9f6be8","name":"set msg.url","func":"msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":1322,"wires":[["d6fb6b1f.549128"]]},{"id":"9308fd86.cb827","type":"switch","z":"c1b36c1d.9f6be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":557,"y":69,"wires":[["b6106aae.012c6"],["47bc7815.88c28"]]},{"id":"3709683.c792698","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"2fc29e6d.ebbea2","client":"","x":862.5,"y":51,"wires":[]},{"id":"b6106aae.012c6","type":"function","z":"c1b36c1d.9f6be8","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":51,"wires":[["3709683.c792698"]]},{"id":"d3582694.697028","type":"switch","z":"c1b36c1d.9f6be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":429,"y":1000,"wires":[["cb7ae269.be52d"],["e2863488.cec1d"]]},{"id":"f58a7a05.bac02","type":"change","z":"c1b36c1d.9f6be8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":960,"wires":[["c77066c0.a8e9a8"]]},{"id":"c77066c0.a8e9a8","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"9694475c.ed1588","client":"","x":1085,"y":960,"wires":[]},{"id":"cb7ae269.be52d","type":"function","z":"c1b36c1d.9f6be8","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":959,"wires":[["f58a7a05.bac02"]]},{"id":"a28c2638.7d062","type":"hyperledger-composer-in","z":"c1b36c1d.9f6be8","name":"receive event","composerProfile":"aa41a6ae.e3962","actionType":"create","x":123,"y":280,"wires":[["8c217d79.0d5ce8","4d54ce4.844f43"]]},{"id":"8c217d79.0d5ce8","type":"debug","z":"c1b36c1d.9f6be8","name":"event received","active":true,"console":"false","complete":"true","x":340,"y":220,"wires":[]},{"id":"4d54ce4.844f43","type":"switch","z":"c1b36c1d.9f6be8","name":"","property":"$class","propertyType":"msg","rules":[{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.PlaceOrderEvent","vt":"str"},{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatusEvent","vt":"str"},{"t":"eq","v":"org.vda.AddUsageEventEvent","vt":"str"}],"checkall":"true","outputs":3,"x":310,"y":280,"wires":[["c52825c0.10609","e552f9df.7649"],["cf06a426.48f9c8"],["bcc51159.c2bb58"]]},{"id":"b3b6408a.51c43","type":"debug","z":"c1b36c1d.9f6be8","name":"received PlaceOrder socket msg","active":false,"console":"false","complete":"true","x":411,"y":130,"wires":[]},{"id":"4008867e.ea958","type":"hyperledger-composer-out","z":"c1b36c1d.9f6be8","name":"submit placeorder tx","composerProfile":"aa41a6ae.e3962","actionType":"create","x":874,"y":102,"wires":[]},{"id":"c744ef5a.4e61b","type":"hyperledger-composer-out","z":"c1b36c1d.9f6be8","name":"submit update status tx","composerProfile":"aa41a6ae.e3962","actionType":"create","x":910,"y":220,"wires":[]},{"id":"c52825c0.10609","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.orderId = msg.orderId;\neventMsg.payload.vehicleDetails = msg.vehicleDetails;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["e588c8b0.dd8d68"]]},{"id":"cf06a426.48f9c8","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.order = msg.order;\neventMsg.payload.orderStatus = msg.orderStatus;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["b71ccb1e.8ea688"]]},{"id":"e76a8b9a.c4e4d","type":"debug","z":"c1b36c1d.9f6be8","name":"transaction payload","active":false,"console":"false","complete":"payload","x":864.5,"y":147,"wires":[]},{"id":"e552f9df.7649","type":"function","z":"c1b36c1d.9f6be8","name":"create new payload","func":"var order = msg;\nconsole.log('What is the event payload?',order)\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"$class\":'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus',\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\"\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["c744ef5a.4e61b"]]},{"id":"3a8b1e9.8dc8a62","type":"debug","z":"c1b36c1d.9f6be8","name":"transaction payload","active":false,"console":"false","complete":"payload","x":818,"y":1053,"wires":[]},{"id":"ccc25ec.91455a","type":"hyperledger-composer-out","z":"c1b36c1d.9f6be8","name":"submit update status tx","composerProfile":"aa41a6ae.e3962","actionType":"create","x":834,"y":1007,"wires":[]},{"id":"ecce3ff3.5d6758","type":"function","z":"c1b36c1d.9f6be8","name":"REST API URL Configuration","func":"let something;\nif(msg.payload.trim()){\n    context.global.endpoint = msg.payload.trim();\n}\nelse{\n    context.global.endpoint = \"http://localhost:4000/api\";\n}\nconsole.log('What is context.global.endpoint?',context.global.endpoint);","outputs":1,"noerr":0,"x":736.5,"y":1156,"wires":[[]]},{"id":"c6b3b312.994be","type":"exec","z":"c1b36c1d.9f6be8","command":"echo $COMPOSER_BASE_URL","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get REST API Environment Variable","x":403.5,"y":1158.5,"wires":[["ecce3ff3.5d6758"],[],[]]},{"id":"d14a713a.613d1","type":"inject","z":"428e6976.a2dad8","name":"","topic":"","payload":"{\"$class\": \"org.vda.ScrapAllVehiclesByColour\", \"colour\":\"grey\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":183,"y":71,"wires":[["82ecd03e.53178"]]},{"id":"82ecd03e.53178","type":"hyperledger-composer-out","z":"428e6976.a2dad8","name":"ScrapAllVehiclesByColour","composerProfile":"aa41a6ae.e3962","actionType":"create","x":479,"y":70.75,"wires":[]},{"id":"fff3f9f.3679c88","type":"websocket in","z":"c1b36c1d.9f6be8","name":"","server":"87cbc5be.a65b2","client":"","x":160,"y":760,"wires":[["6b3b9a6c.ea8394"]]},{"id":"6b3b9a6c.ea8394","type":"change","z":"c1b36c1d.9f6be8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":760,"wires":[["a97813a0.52496"]]},{"id":"a97813a0.52496","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"87cbc5be.a65b2","client":"","x":780,"y":760,"wires":[]},{"id":"817225dc.25e42","type":"websocket in","z":"c1b36c1d.9f6be8","name":"","server":"1135db6b.ad1c1d","client":"","x":160,"y":840,"wires":[["75c7ee9.d84521"]]},{"id":"75c7ee9.d84521","type":"change","z":"c1b36c1d.9f6be8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":840,"wires":[["95bc351a.f0426"]]},{"id":"95bc351a.f0426","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/CreatePolicy'\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":840,"wires":[["118f4a87.7cd705","f84cf48.b3be908"]]},{"id":"118f4a87.7cd705","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"1135db6b.ad1c1d","client":"","x":880,"y":840,"wires":[]},{"id":"f84cf48.b3be908","type":"hyperledger-composer-out","z":"c1b36c1d.9f6be8","name":"submit createpolicy tx","composerProfile":"aa41a6ae.e3962","actionType":"create","x":880,"y":900,"wires":[]},{"id":"bcc51159.c2bb58","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"eventMsg = {};\neventMsg.payload = msg;\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["11c634cb.b273cb"]]},{"id":"11c634cb.b273cb","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"d1b1c767.6c82a8","client":"","x":910,"y":400,"wires":[]},{"id":"728fec9.756cd14","type":"websocket in","z":"c1b36c1d.9f6be8","name":"","server":"eaf2213e.d3ea2","client":"","x":180,"y":640,"wires":[["8454f20e.8435b8"]]},{"id":"8454f20e.8435b8","type":"change","z":"c1b36c1d.9f6be8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":640,"wires":[["10565c10.8e7e7c"]]},{"id":"10565c10.8e7e7c","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/CreateUsageRecord'\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":640,"wires":[["a52cc3de.362ad8","7f1fd7ce.6b757"]]},{"id":"a52cc3de.362ad8","type":"hyperledger-composer-out","z":"c1b36c1d.9f6be8","name":"submit createusagerecord tx","composerProfile":"aa41a6ae.e3962","actionType":"create","x":940,"y":680,"wires":[]},{"id":"7f1fd7ce.6b757","type":"websocket out","z":"c1b36c1d.9f6be8","name":"","server":"eaf2213e.d3ea2","client":"","x":940,"y":600,"wires":[]},{"id":"e81431b3.744a4","type":"websocket in","z":"c1b36c1d.9f6be8","name":"","server":"8192d21.c7d83b","client":"","x":270,"y":500,"wires":[["90f7e5fa.74cb28"]]},{"id":"90f7e5fa.74cb28","type":"change","z":"c1b36c1d.9f6be8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":500,"wires":[["8529fa76.208498"]]},{"id":"8529fa76.208498","type":"function","z":"c1b36c1d.9f6be8","name":"parse","func":"var eventMsg = {}\nvar message = JSON.parse(msg.payload).d;\nvar acceleration = Math.sqrt((message.acc_x*message.acc_x)+(message.acc_y*message.acc_y)+(message.acc_z*message.acc_z))\n\neventMsg.payload = {\n  \"$class\": \"org.vda.AddUsageEvent\",\n  \"vin\": message.vin,\n  \"usageEvent\": {\n    \"$class\": \"org.vda.UsageEvent\",\n    \"eventID\": generateID(),\n    \"eventType\": message.event,\n    \"acceleration\": acceleration,\n    \"roll\": message.roll,\n    \"pitch\": message.pitch,\n    \"engine_temperature\": message.object_temp,\n    \"air_temperature\": message.ambient_temp,\n    \"light_level\": message.light,\n    \"timestamp\": new Date()\n  }\n}\neventMsg.url = context.global.endpoint + '/AddUsageEvent'\n\nfunction generateID() { // EXISTING EVENTS DON'T COME WITH ID SO MAKE ONE FOR SCROLLING PURPOSES\n    function s4() {\n      return Math.floor((1 + Math.random()) * 0x10000)\n        .toString(16)\n        .substring(1);\n    }\n    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +\n        s4() + '-' + s4() + s4() + s4();\n}\n\nreturn eventMsg;\n","outputs":1,"noerr":0,"x":830,"y":500,"wires":[["f490852f.ce152","ffcdf364.676518"]]},{"id":"f490852f.ce152","type":"hyperledger-composer-out","z":"c1b36c1d.9f6be8","name":"submit addusageevent tx","composerProfile":"aa41a6ae.e3962","actionType":"create","x":1030,"y":500,"wires":[]},{"id":"ffcdf364.676518","type":"debug","z":"c1b36c1d.9f6be8","name":"","active":true,"console":"false","complete":"false","x":990,"y":540,"wires":[]}]